<nav>
    <a href = "webpages.charlotte.edu/rroach5">Personal Webpage</a>
    <a href = "github.com/allisonroach7">Github</a>
    <a href = "allisonroach7.github.io/itis3135">Github.io</a>
    <a href = "https://www.freecodecamp.org/allisonroach7">freeCodeCamp</a>
    <a href = "https://www.codecademy.com/profiles/allieroach7">CodeAcademy</a>
    <a href = "https://www.linkedin.com/in/allison-roach-81456b251/">LinkedIN</a>
    <a href = "https://webpages.charlotte.edu/rroach5/itis3135/cockroachcode.com.html">Designed by Cockroach Code </a><a href = "https://www.freecodecamp.org/certification/allisonroach7/responsive-web-design">Certified in Responsive Web Design</a><a href = "https://www.freecodecamp.org/certification/allisonroach7/javascript-algorithms-and-data-structures-v8">& JADS</a>
    <a href = "https://webpages.charlotte.edu/rroach5/awesomeroach.github.io/about.html">Extermination Company</a>
    <a href = "https://webpages.charlotte.edu/rroach5/itis3135/table.html">Table Practice</a>
    <a href = "https://webpages.charlotte.edu/rroach5/itis3135/hobby/index.html">Hobby Website</a>
    <a href = "https://webpages.charlotte.edu/rroach5/itis3135/byo_intro.html">BYO Intro</a>
    <a href = "https://webpages.charlotte.edu/rroach5/itis3135/secondbeatstudios/index.html">Client Project</a>
</nav>