<h1>Allison Roach's Awesome Roach || ITIS 3135</h1>
        <nav>
            <a href = "./">Home</a>
            <a href = "introduction.html">Introduction</a>
            <a href = "contract.html">Contract</a>
            <a href = "cockroachcode.com.html">Design Firm</a>
            <a href = "https://allisonroach7.github.io/awesomeroach/about.html">Extermination Company</a>
            <a href = "https://webpages.charlotte.edu/rroach5/itis3135/stuff/HIGUYSNEWWEBP@GE.html">Crappy Webpage</a>
            <a href = "https://webpages.charlotte.edu/rroach5/itis3135/website_evaluations.html">CRAP Principles Evaluations</a>
            <a href = "https://webpages.charlotte.edu/rroach5/itis3135/hobby/index.html">Hobby Website</a>
            <a href = "https://webpages.charlotte.edu/rroach5/itis3135/byo_intro.html">BYO Intro</a>
        </nav>